ScienceDirect_files_19May2023_08-18-24.709/
examples/.DS_Store
examples/example-1/.DS_Store
examples/example-1/c1-pz.dat
examples/example-1/c1-sp2.dat
examples/example-1/c1.dat
examples/example-1/c2.dat
examples/example-1/cpz.dat
examples/example-1/input-c-pz.dat.dat
examples/example-1/input-c1-pz.dat.dat
examples/example-1/input-c1-sp2.dat.dat
examples/example-1/input-c1.dat.dat
examples/example-1/input-c2.dat.dat
examples/example-1/out/
examples/example-2/cr-d.dat
examples/example-2/cr-p.dat
examples/example-2/cr-s.dat
examples/example-2/cr.dat
examples/example-2/i-p.dat
examples/example-2/i-s.dat
examples/example-2/i.dat
examples/example-2/input-cr-d.dat.dat
examples/example-2/input-cr-p.dat.dat
examples/example-2/input-cr-s.dat.dat
examples/example-2/input-cr.dat.dat
examples/example-2/input-i-p.dat.dat
examples/example-2/input-i-s.dat.dat
examples/example-2/input-i.dat.dat
examples/example-2/out/
make.log
makefile.git
makefile.macos
bin/wtb.x
bin/wtbf.x
examples/example-1/example_1.sh
examples/example-1/tmd-kpoints.dat
examples/example-2/example_2.sh
makefile
examples/example-3/input_mos2_opt.dat
examples/example-3/tmd-kpoints-bse.dat
examples/example-3/tmd-kpoints.dat
examples/example-4/input_mos2_100.dat.dat
examples/example-4/input_mos2_200.dat.dat
examples/example-4/input_mos2_300.dat.dat
examples/example-4/input_mos2_50.dat.dat
examples/example-5/input_mos2_bseb.dat
examples/example-6/example_6.sh.mine
examples/example-6/tmd-kpoints-bse.dat
examples/example-6/tmd-kpoints.dat
examples/example-7/input.dat
examples/example-7/tmd-kpoints.dat
bse_types.mod
examples/example-10/out/.log_bse_kpath.dat.swp
examples/example-10/out/bands_bse.dat
examples/example-10/out/bands_wf_bse.dat
examples/example-10/out/bse_coeff.dat
examples/example-10/out/bse_diel_xx.dat
examples/example-10/out/bse_diel_xy.dat
examples/example-10/out/bse_diel_xz.dat
examples/example-10/out/bse_diel_yy.dat
examples/example-10/out/bse_diel_yz.dat
examples/example-10/out/bse_diel_zz.dat
examples/example-10/out/exc_wf_1.dat
examples/example-10/out/exc_wf_1_1.dat
examples/example-10/out/exc_wf_1_10.dat
examples/example-10/out/exc_wf_1_11.dat
examples/example-10/out/exc_wf_1_12.dat
examples/example-10/out/exc_wf_1_13.dat
examples/example-10/out/exc_wf_1_14.dat
examples/example-10/out/exc_wf_1_15.dat
examples/example-10/out/exc_wf_1_16.dat
examples/example-10/out/exc_wf_1_2.dat
examples/example-10/out/exc_wf_1_3.dat
examples/example-10/out/exc_wf_1_4.dat
examples/example-10/out/exc_wf_1_5.dat
examples/example-10/out/exc_wf_1_6.dat
examples/example-10/out/exc_wf_1_7.dat
examples/example-10/out/exc_wf_1_8.dat
examples/example-10/out/exc_wf_1_9.dat
examples/example-10/out/log.dat
examples/example-10/out/log_bse-diel.dat
examples/example-10/out/log_bse_kpath.dat
hamiltonian_input_variables.mod
input_variables.mod
examples/example-10/out/bse_absorption_coef.dat
examples/example-10/out/bse_en_loss_func.dat
examples/example-10/out/bse_extinction_coef.dat
examples/example-10/out/bse_reflectibility.dat
examples/example-10/out/bse_refractive_index.dat
examples/example-10/out/exciton_lifetime.dat
examples/example-10/out/sp_absorption_coef-pol.dat
examples/example-10/out/sp_absorption_coef.dat
examples/example-10/out/sp_diel-pol_sm.dat
examples/example-10/out/sp_diel-pol_sp.dat
examples/example-10/out/sp_diel-pol_x.dat
examples/example-10/out/sp_diel-pol_y.dat
examples/example-10/out/sp_diel-pol_z.dat
examples/example-10/out/sp_diel_xx.dat
examples/example-10/out/sp_diel_xy.dat
examples/example-10/out/sp_diel_xz.dat
examples/example-10/out/sp_diel_yy.dat
examples/example-10/out/sp_diel_yz.dat
examples/example-10/out/sp_diel_zz.dat
examples/example-10/out/sp_en_loss_func-pol.dat
examples/example-10/out/sp_en_loss_func.dat
examples/example-10/out/sp_extinction_coef-pol.dat
examples/example-10/out/sp_extinction_coef.dat
examples/example-10/out/sp_reflectibility-pol.dat
examples/example-10/out/sp_reflectibility.dat
examples/example-10/out/sp_refractive_index-pol.dat
examples/example-10/out/sp_refractive_index.dat
examples/example-6/out/
examples/example-9/out/
