ScienceDirect_files_19May2023_08-18-24.709/
examples/.DS_Store
examples/example-1/.DS_Store
examples/example-1/c1-pz.dat
examples/example-1/c1-sp2.dat
examples/example-1/c1.dat
examples/example-1/c2.dat
examples/example-1/cpz.dat
examples/example-1/input-c-pz.dat.dat
examples/example-1/input-c1-pz.dat.dat
examples/example-1/input-c1-sp2.dat.dat
examples/example-1/input-c1.dat.dat
examples/example-1/input-c2.dat.dat
examples/example-1/out/
examples/example-2/cr-d.dat
examples/example-2/cr-p.dat
examples/example-2/cr-s.dat
examples/example-2/cr.dat
examples/example-2/i-p.dat
examples/example-2/i-s.dat
examples/example-2/i.dat
examples/example-2/input-cr-d.dat.dat
examples/example-2/input-cr-p.dat.dat
examples/example-2/input-cr-s.dat.dat
examples/example-2/input-cr.dat.dat
examples/example-2/input-i-p.dat.dat
examples/example-2/input-i-s.dat.dat
examples/example-2/input-i.dat.dat
examples/example-2/out/
make.log
makefile.git
makefile.macos
bin/wtb.x
bin/wtbf.x
examples/example-1/example_1.sh
examples/example-1/tmd-kpoints.dat
examples/example-2/example_2.sh
makefile
